<div class="banner">
  <div class="container text-center">
    <h1><strong>Mister Cocktail</strong>!</h1>
    <p>All the famous cocktails</p>
    <a class="btn btn-primary" href="#">Discover now</a>
  </div>
</div>

<div class="container mt-3 col-9">
  <div class="cards">
    <% @cocktails.each do |cocktail| %>
      <div class="card-category">
        <div class="card-content">
          <%= link_to cocktail.name, cocktail, class: "link" %>
        </div>
      </div>
    <% end %>
  </div>
</div>

