<div class="container col-6">
<%= simple_form_for [ @cocktail, @dose ] do |f| %>
  <%= f.input :description, class: "form-control" %>
  <%= f.association :ingredient %>
  <%= f.submit%>
<% end %>
</div>
