
.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
}

@media(max-width: 992px) {
  .cards {
    grid-template-columns: 1fr;
  }
}


.card-category {
    padding: 10px;
    background-size: cover;
    background-position: center;
    height: 300px;
    border-radius: 5px;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    .card-content {
      color:white;
      font-size: 24px;
    }
    .link {
      color: white !important;
      font-size: 24px;
      opacity: .7;
    }
    .link:hover {
      text-decoration: none !important;
    }
  }

.add-card {
  font-size: 50px;
}

.add-card:hover {
  text-decoration: none;
}
