<nav class="navbar navbar-light">
    <%= link_to "Cocktails", root_path, class: "navbar-brand" %>
    <div class="navbar-nav">
      <%= link_to "Add Cocktail", new_cocktail_path, class: "nav-item nav-link" %>
    </div>
</nav>
